## Exercise 2.2

Consider the following vector

In [2]:
AGE = c(19,22,21,23,22,20)
WEIGHT = c(50,75,80,56,75,58)
HEIGHT = c(1.66,1.78,1.90,1.72,1.83,1.68)
SEX = c("F","M","M","F","M","F")
PROV = c("MI","MI","NA","AO","NA","AO")

1) Compute the mean height (cm)

In [3]:
mean(HEIGHT)

[1] 1.761667

2) Compute the Body Mass Index (BMI), given as the ratio between the weight and the squared height

In [8]:
BMI = WEIGHT/(HEIGHT^2)
BMI

[1] 18.14487 23.67125 22.16066 18.92915 22.39541 20.54989

3) Round the BMI using the function round()

In [5]:
round(BMI)

[1] 18 24 22 19 22 21

4) Extract the height of people aged 22

In [29]:
HEIGHT[which(AGE==22)]

[1] 1.78 1.83

5) Extract the weight of people higher than 1.80m

In [30]:
WEIGHT[which(HEIGHT>1.80)]

[1] 80 75

6) Extract the weight of female persons

In [31]:
WEIGHT[SEX=="F"]

[1] 50 56 58

An alternative is the same as before

In [7]:
WEIGHT[which(SEX=="F")]

[1] 50 56 58

7) Extract the height of the people ages less than 22 AND living in Milan

In [32]:
HEIGHT[which(AGE<22 && PROV=="MI")]

[1] 1.66